body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
}
#overlay
{
position: absolute; /* Sit on top of the page content */
width: 100%; /* Full width (cover the whole page) */
height: 100%; /* Full height (cover the whole page) */
top: 0; 
left: 0;
right: 0;
z-index: 3;
bottom: 0;
background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}
.next-game {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}
.guessing {
  pointer-events: none;
}

.canva-well {
  height:600px;
}
.guess-list {
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: visible; 
  position: fixed;
  max-width: 200px;
  max-height: 50%;
  bottom: 10%;
  right: 10%;
}

.winning-screen {
  position: fixed;
  bottom: 15%;
}
.win-img {
  height:100px;
  width:100px;
}
.top-right {
  position: absolute;
  top: 5%;
  right: 10%;
}
.anchor-bot {
  position: absolute !important;
  bottom: 10% !important;
}